#
sysname PE-1
#
set neid ba322d
#
vsm on-board-mode enable
#
snmp-agent trap type base-trap
#
undo dhcp enable
#
icmp rate-limit disable
#
router id 198.18.0.11
#
aaa
 #              
 authentication-scheme default0
 #
 authentication-scheme default1
 #
 authentication-scheme default
  authentication-mode local radius
 #
 authorization-scheme default
 #
 accounting-scheme default0
 #
 accounting-scheme default1
 #
 domain default0
 #
 domain default1
 #
 domain default_admin
#
license
#
interface Eth-Trunk0
 ip address 198.18.1.15 255.255.255.254
 mode lacp-static
#
interface Eth-Trunk1
 ip address 198.18.1.17 255.255.255.254
 mode lacp-static
#
#
interface Ethernet1/0/0
 undo shutdown
 eth-trunk 0
 undo dcn
 undo dcn mode vlan
#
interface Ethernet1/0/1
 undo shutdown
 eth-trunk 1
 undo dcn
 undo dcn mode vlan
#
interface Ethernet1/0/2
 undo shutdown
 undo dcn mode vlan
#
interface Ethernet1/0/3
 undo shutdown
 undo dcn mode vlan
#
interface Ethernet1/0/4
 undo shutdown
 undo dcn mode vlan
#
interface Ethernet1/0/5
 undo shutdown
 undo dcn mode vlan
#
interface Ethernet1/0/6
 undo shutdown
 undo dcn mode vlan
#
interface Ethernet1/0/7
 undo shutdown
 undo dcn mode vlan
#
interface Ethernet1/0/8
 undo shutdown
 undo dcn mode vlan
#               
interface Ethernet1/0/9
 undo shutdown
 undo dcn mode vlan
#
interface GigabitEthernet0/0/0
 undo shutdown
#
interface LoopBack0
 ip address 198.18.0.11 255.255.255.255
#
interface NULL0
#             
undo dcn
#
lldp enable
#
ssh authorization-type default aaa
#
ssh server cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr aes256_cbc aes128_cbc 3des_cbc
#
ssh server dh-exchange min-len 1024
#
ssh client cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr aes256_cbc aes128_cbc 3des_cbc
#
user-interface con 0
#
user-interface aux 0
#
local-aaa-server
#
vm-manager
#
return
