 
# TiMOS-B-21.10.R1 both/x86_64 Nokia 7750 SR Copyright (c) 2000-2021 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Thu Nov 4 19:49:50 PDT 2021 by builder in /builds/c/2110B/R1/panos/main/sros
# Configuration format version 21.10 revision 0

# Generated SAT MAR 06 05:44:59 2021 UTC

exit all
configure
#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name "PE-3"
        power-shelf 1
            power-shelf-type ps-a4-shelf-dc
            power-module 1
                power-module-type ps-a-dc-6000
                no shutdown
            exit
            power-module 2
                power-module-type ps-a-dc-6000
                no shutdown
            exit
            power-module 3
                power-module-type ps-a-dc-6000
                no shutdown
            exit
            power-module 4
                power-module-type ps-a-dc-6000
                no shutdown
            exit
            no shutdown
        exit
        management-interface
            yang-modules
                no nokia-combined-modules
                nokia-submodules
            exit
        exit
        time
            sntp
                shutdown
            exit
            zone UTC
        exit
        bluetooth
            module A
            exit
            power off
        exit
    exit
#--------------------------------------------------
echo "System Security Configuration"
#--------------------------------------------------
    system
        security
            profile "default"
                netconf
                    base-op-authorization
                        action
                        cancel-commit
                        close-session
                        commit
                        copy-config
                        create-subscription
                        delete-config
                        discard-changes
                        edit-config
                        get
                        get-config
                        get-data
                        get-schema
                        validate
                    exit
                exit
                entry 10
                    match "exec"
                    action permit
                exit
                entry 20
                    match "exit"
                    action permit
                exit
                entry 30
                    match "help"
                    action permit
                exit
                entry 40
                    match "logout"
                    action permit
                exit
                entry 50
                    match "password"
                    action permit
                exit
                entry 60
                    match "show config"
                    action deny
                exit
                entry 65
                    match "show li"
                    action deny
                exit
                entry 66
                    match "clear li"
                    action deny
                exit
                entry 67
                    match "tools dump li"
                    action deny
                exit
                entry 68
                    match "state li"
                    action deny
                exit
                entry 70
                    match "show"
                    action permit
                exit
                entry 75
                    match "state"
                    action permit
                exit
                entry 80
                    match "enable-admin"
                    action permit
                exit
                entry 90
                    match "enable"
                    action permit
                exit
                entry 100
                    match "configure li"
                    action deny
                exit
            exit
            profile "administrative"
                netconf
                    base-op-authorization
                        action
                        cancel-commit
                        close-session
                        commit
                        copy-config
                        create-subscription
                        delete-config
                        discard-changes
                        edit-config
                        get
                        get-config
                        get-data
                        get-schema
                        kill-session
                        lock
                        validate
                    exit
                exit
                entry 10
                    match "configure system security"
                    action permit
                exit
                entry 20
                    match "show system security"
                    action permit
                exit
                entry 30
                    match "tools perform security"
                    action permit
                exit
                entry 40
                    match "tools dump security"
                    action permit
                exit
                entry 50
                    match "admin system security"
                    action permit
                exit
                entry 100
                    match "configure li"
                    action deny
                exit
                entry 110
                    match "show li"
                    action deny
                exit
                entry 111
                    match "clear li"
                    action deny
                exit
                entry 112
                    match "tools dump li"
                    action deny
                exit
            exit
            user "admin"
                password "$2y$10$iiAbvCuvm53YxcVAhkQz../g/V6F2/vkcGo4kZEdnkIAsLIdUW4hC"
                access console
                console
                    member "administrative"
                exit
            exit
            per-peer-queuing
            dist-cpu-protection
                policy "_default-port-policy" type port create
                exit
                policy "_default-access-policy" create
                exit
                policy "_default-network-policy" create
                exit
            exit
        exit
    exit
#--------------------------------------------------
echo "Log Configuration"
#--------------------------------------------------
    log
    exit
#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
    card 1
        card-type xcm-1s
        mda 1
            mda-type s18-100gb-qsfp28
            no shutdown
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Connector Configuration"
#--------------------------------------------------
    port 1/1/c1
        connector
            breakout c10-10g
        exit
        no shutdown
    exit
    port 1/1/c2
        connector
            breakout c10-10g
        exit
        no shutdown
    exit
    port 1/1/c3
        shutdown
    exit
    port 1/1/c4
        shutdown
    exit
    port 1/1/c5
        shutdown
    exit
    port 1/1/c6
        shutdown
    exit
    port 1/1/c7
        shutdown
    exit
    port 1/1/c8
        shutdown
    exit
    port 1/1/c9
        shutdown
    exit
    port 1/1/c10
        shutdown
    exit
    port 1/1/c11
        shutdown
    exit
    port 1/1/c12
        shutdown
    exit
    port 1/1/c13
        shutdown
    exit
    port 1/1/c14
        shutdown
    exit
    port 1/1/c15
        shutdown
    exit
    port 1/1/c16
        shutdown
    exit
    port 1/1/c17
        shutdown
    exit
    port 1/1/c18
        shutdown
    exit
#--------------------------------------------------
echo "Port Configuration"
#--------------------------------------------------
    port 1/1/c1/1
        ethernet
            mtu 2000
            lldp
                dest-mac nearest-bridge
                    admin-status tx-rx
                    tx-tlvs port-desc sys-name
                    port-id-subtype tx-if-name
                exit
            exit
        exit
        no shutdown
    exit
    port 1/1/c1/2
        shutdown
        ethernet
        exit
    exit
    port 1/1/c1/3
        shutdown
        ethernet
        exit
    exit
    port 1/1/c1/4
        shutdown
        ethernet
        exit
    exit
    port 1/1/c1/5
        shutdown
        ethernet
        exit
    exit
    port 1/1/c1/6
        shutdown
        ethernet
        exit
    exit
    port 1/1/c1/7
        shutdown
        ethernet
        exit
    exit
    port 1/1/c1/8
        shutdown
        ethernet
        exit
    exit
    port 1/1/c1/9
        shutdown
        ethernet
        exit
    exit
    port 1/1/c1/10
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/1
        ethernet
            mtu 2000
            lldp
                dest-mac nearest-bridge
                    admin-status tx-rx
                    tx-tlvs port-desc sys-name
                    port-id-subtype tx-if-name
                exit
            exit
        exit
        no shutdown
    exit
    port 1/1/c2/2
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/3
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/4
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/5
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/6
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/7
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/8
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/9
        shutdown
        ethernet
        exit
    exit
    port 1/1/c2/10
        shutdown
        ethernet
        exit
    exit
#--------------------------------------------------
echo "System Sync-If-Timing Configuration"
#--------------------------------------------------
    system
        sync-if-timing
            begin
            commit
        exit
    exit
#--------------------------------------------------
echo "LAG Configuration"
#--------------------------------------------------
    lag 1
        port 1/1/c1/1
        lacp active administrative-key 32768
        no shutdown
    exit
    lag 2
        port 1/1/c2/1
        lacp active administrative-key 32769
        no shutdown
    exit
#--------------------------------------------------
echo "Management Router Configuration"
#--------------------------------------------------
    router management
    exit

#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router Base
        interface "lag-1"
            address 198.18.1.23/31
            port lag-1
            no shutdown
        exit
        interface "lag-2"
            address 198.18.1.25/31
            port lag-2
            no shutdown
        exit
        interface "system"
            address 198.18.0.13/32
            no shutdown
        exit
        autonomous-system 65001
        ecmp 2
        router-id 198.18.0.13
#--------------------------------------------------
echo "OSPFv2 Configuration"
#--------------------------------------------------
        ospf 0 198.18.0.13
            area 0.0.0.0
                interface "system"
                    no shutdown
                exit
                interface "lag-1"
                    interface-type point-to-point
                    metric 10000
                    no shutdown
                exit
                interface "lag-2"
                    interface-type point-to-point
                    metric 10000
                    no shutdown
                exit
            exit
            no shutdown
        exit
#--------------------------------------------------
echo "MPLS Configuration"
#--------------------------------------------------
        mpls
            interface "system"
                shutdown
            exit
        exit
#--------------------------------------------------
echo "RSVP Configuration"
#--------------------------------------------------
        rsvp
            shutdown
            interface "system"
                no shutdown
            exit
        exit
#--------------------------------------------------
echo "MPLS LSP Configuration"
#--------------------------------------------------
        mpls
            shutdown
        exit
#--------------------------------------------------
echo "LDP Configuration"
#--------------------------------------------------
        ldp
            import-pmsi-routes
            exit
            tcp-session-parameters
            exit
            targeted-session
            exit
            shutdown
        exit
    exit

#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
#
#--------------------------------------------------
echo "Router (Service Side) Configuration"
#--------------------------------------------------
    router Base
#--------------------------------------------------
echo "OSPFv2 Configuration"
#--------------------------------------------------
        ospf 0 198.18.0.13
            no shutdown
        exit
#--------------------------------------------------
echo "BGP Configuration"
#--------------------------------------------------
#
#--------------------------------------------------
echo "Log all events for service vprn, log syslog tls-client-profile Configuration"
#--------------------------------------------------
    log
    exit

exit all

