!Software Version V200R005C10SPC607B607
!Last configuration was updated at 2026-09-21 14:12:52+00:00 by SYSTEM automatically
!Last configuration was saved at 2026-09-20 13:48:55+00:00
#
sysname Lenina10p1-01-ASW1
#
device board 1 board-type CE-MPUB
#
vlan batch 2000 4090
#
vlan 2000
 name IPoE
#
vlan 4090
 name MNG
#
aaa
 undo local-user policy security-enhance
 local-user admin password irreversible-cipher $1c$%f%`Xraz}9$i~8VQ8F2C=QN>;2i'Ng7>~TfT{i6EOSW^S.8(#f.$
 local-user admin service-type telnet
 #
 authentication-scheme default
 #
 authorization-scheme default
 #
 accounting-scheme default
 #
 domain default
 #
 domain default_admin
#
interface Vlanif4090
 ip address 172.16.11.3 255.255.255.0
#
interface MEth0/0/0
 undo shutdown
#
interface GE1/0/0
 undo shutdown
 port link-type trunk
 undo port trunk allow-pass vlan 1
 port trunk allow-pass vlan 2000 4090
#
interface GE1/0/1
 undo shutdown
#
interface GE1/0/2
 undo shutdown
#
interface GE1/0/3
 undo shutdown
#
interface GE1/0/4
 undo shutdown
#
interface GE1/0/5
 undo shutdown
#
interface GE1/0/6
 undo shutdown
#
interface GE1/0/7
 undo shutdown
#
interface GE1/0/8
 undo shutdown
#
interface GE1/0/9
 undo shutdown
#               
interface GE1/0/10
 undo shutdown
#
interface GE1/0/11
 undo shutdown
#
interface GE1/0/12
 undo shutdown
#
interface GE1/0/13
 undo shutdown
#
interface GE1/0/14
 undo shutdown
#
interface GE1/0/15
 undo shutdown
#
interface GE1/0/16
 undo shutdown
#
interface GE1/0/17
 undo shutdown  
#
interface GE1/0/18
 undo shutdown
#
interface GE1/0/19
 undo shutdown
#
interface GE1/0/20
 shutdown
#
interface GE1/0/21
 shutdown
#
interface GE1/0/22
 shutdown
#
interface GE1/0/23
 shutdown
#
interface GE1/0/24
 shutdown
#
interface GE1/0/25
 shutdown
#
interface GE1/0/26
 shutdown
#
interface GE1/0/27
 shutdown
#
interface GE1/0/28
 shutdown
#
interface GE1/0/29
 shutdown
#
interface GE1/0/30
 shutdown
#
interface GE1/0/31
 shutdown
#
interface GE1/0/32
 shutdown
#               
interface GE1/0/33
 shutdown
#
interface GE1/0/34
 shutdown
#
interface GE1/0/35
 shutdown
#
interface GE1/0/36
 shutdown
#
interface GE1/0/37
 shutdown
#
interface GE1/0/38
 shutdown
#
interface GE1/0/39
 shutdown
#
interface GE1/0/40
 shutdown       
#
interface GE1/0/41
 shutdown
#
interface GE1/0/42
 shutdown
#
interface GE1/0/43
 shutdown
#
interface GE1/0/44
 shutdown
#
interface GE1/0/45
 shutdown
#
interface GE1/0/46
 shutdown
#
interface GE1/0/47
 shutdown
#
interface NULL0 
#
ip route-static 0.0.0.0 0.0.0.0 172.16.11.1
#
lldp enable
#
ssh authorization-type default aaa
#
ssh server cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr aes256_cbc aes128_cbc 3des_cbc
#
ssh server dh-exchange min-len 1024
#
ssh client cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr aes256_cbc aes128_cbc 3des_cbc
#
user-interface con 0
 authentication-mode aaa
#
user-interface vty 0
 authentication-mode aaa
 user privilege level 3
 protocol inbound telnet
#
vm-manager
#
return          